<% provide(:pagetitle, "Home") %>
<div class="jumbotron">
  <h1>Get Un-Sick Today!</h1>

  <%= link_to "See our specialists", doctors_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Search our hospital", searches_path, class: "btn btn-lg btn-primary" %>

</div>