<h2>Doctor List</h2>

<% @doctors.each do |d| %>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= d.doctor_name %></dd>
  <dt>Specialty</dt>
  <dd><%= d.specialty %></dd>
  <dt></dt>
  <dd><%= link_to 'View Profile', doctor_path(d) %></dd>
</dl>
<% end %> 

<%= link_to 'Add a doctor', new_doctor_path %>
