<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "St. Jon's Medical", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Patients", patients_path %></li>
        <li><%= link_to "Sign up", new_patient_path %></li>
      </ul>
    </nav>
  </div>
</header>